<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet">
	<style type="text/css">
	body{
		background: #f2f2f2
	}
		

	.nav-colour{
    
    background-color: #b0f442;
    

	}
	.tittle{
		font-family: 'Libre Baskerville', serif;

	}
	.first{
		background: white;
		margin-left: 100px;
		height:100%; 
		width:1225px;
		
	}
	h3{
		color:#239023;
		font-family: 'Quicksand', sans-serif;
	}
	.one{
		font-family: 'Fahkwang', sans-serif;
		color:#808080;

	}
	h4{
		color:#239023;
		font-family: 'Quicksand', sans-serif;
	}
	p{
		font-family: 'Fahkwang', sans-serif;

	}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light nav-colour ">
		
	
		<ul class="navbar-nav mr-auto ">
			<li class="nav-item"><a class="nav-link abt" href="home">HOME</a></li>

			<li class="nav-item"><a class="nav-link abt" href="about">ABOUT</a></li>
			<li class="nav-item"><a class="nav-link prcss" href="why should u donate">WHY SHOULD YOU DONATE</a></li>
			<li class="nav-item"><a class="nav-link prcss" href="what do i need to do">WHAT DO I NEED TO DO</a></li>
			 <li class="nav-item"><a class="nav-link prcss" href="register">REGISTRATION</a></li>
			 <li class="nav-item"><a class="nav-link prcss" href="member">HOSPITALS</a></li>
		</ul>

		<span class="navbar-text tittle">
      HOPE FOUNDATION OF ORGAN DONATION
    </span>
	
	</nav>

	<div class="first border border-light shadow p-3 mb-5 bg-white rounded">
		
<h3>About Organ Donation</h3>

<p class="one">
Organ donation is the donation of organs of the human body or biological tissue from a living or dead person to a living recipient in need of a transplantation. Transplantable organs and tissues are removed in a surgical procedure following a determination based on the donor’s medical and social history to know which organs are suitable for transplantation.</p>
<h4>Living Donor Transplant</h4>
<p>
This type of transplant occurs when a living person wishes to donate organs to someone in need. Living donors are usually family members or spouses. All living donors must meet basic medical criteria and undergo a very thorough medical evaluation before being accepted as a suitable donor.</p>
<h4>Cadaver/Deceased Donor Transplant </h4>
<p>This kind of transplant involves taking organs from a person who has just died. The person’s family must first give consent if organs are to be used for transplantation. This type of transplant requires waiting on a list until a suitable organ is available. </p>
<div><image src="https://www.lifelinkfoundation.org/wp-content/uploads/2015/11/LifeLink-Graphics-v2-02.png" class="img-fluid" alt="Responsive image"></image></div>
<h4>What Can Be Transplanted</h4
<p>
Different organs such as heart, liver, kidneys and tissues such as corneas and bone marrow can now be successfully transplanted into patients, who can then expect to survive for years or even decades. It is the treatment of choice for many diseases, but all too often, a suitable organ is not available to meet the ever-increasing demand for transplantation.</p>
<h4>Understanding Brain Death</h4>
<p>
Brain death results from a severe, irreversible injury to the brain. All areas of the brain are damaged and no longer function, due to which a person cannot sustain his/her own life. But vital body functions may be maintained by an artificial support system. This maintains circulation to vital organs, long enough to facilitate organ donation. 
A cadaver donation occurs when the family of a patient who has been declared brain dead agrees to donate his or her organs (mainly kidneys and liver). Brain death usually results from a severe brain injury which causes all the brain activity to stop. This can happen after a major road accident or a bleed in the brain due to stroke.</p>
<h4>Donation after Brain Death</h4>
<p>Transplants post brain death must be done very soon after death to ensure the organs remain suitable for transplantation, and the person who has died is not deprived of the opportunity to donate. However, organ donation itself will not take place unless you, in your lifetime, expressed a wish to donate, or the person closest to you in life gives their permission.</p>
<p>
Once the patient is admitted, all efforts are made to stabilize the patient. If those efforts fail, the patient is pronounced brain-dead, but only after the doctor’s evaluation, testing and documentation.
Consent from the family is obtained to proceed with the donation, and the organ procurement organization is informed. Consent from coroner/legal authorities is obtained.
</p>
<p>
In the mean time, the organ donor is maintained on ventilator, and stabilized with fluids and medications. He/she also undergoes numerous laboratory tests.
</p>
<p>
Recipients are also identified for placement of organs. A surgical team is mobilized and coordinated to arrive at the hospital for removal of organs and tissues.</p>
<p>
The donor is brought to the operating room. Multiple organ recovery is performed with organs being preserved through special solutions and cold packing. The ventilator support is then discontinued.
</p><p>
The donor’s body is surgically closed and released.</p>
</div>
</body>
</html>