<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<div class="main">
	<div>
		<h1>Welcome</h1>
	</div>
	<div>
		<h2>Looking for information about donors?</h2>
	</div>
	<div><h3>Login into your account</h3></div>
	<form method="post" action="/details">
<div>
	<label name="username">Username</label>
	<input id="username" name="username" type="text"  placeholder="username" required="">
</div>
<div>
	<label name="password">Password</label>
	<input id="password" name="password" type="password"  placeholder="password" required="">
</div>
</form>
<div><button>Login</button></div>
</div>
</body>
</html>