<!DOCTYPE html>
<html>
<head>
	<title>reports</title>
</head>
<style type="text/css">
		h1{
			font-family: 'PT Serif', serif;
		}
	</style>
<body>


  <h1> Count : <%= count_donors%> </h1>

    <script>
        function myFunction() {
             window.print();
        }
        </script>
</body>
</html>