<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script type="text/javascript">
		function home(){
			window.open("home");
		}
		</script>
		<style type="text/css">
		.improve{
			margin-left: 300px;
		}
	</style>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Thank you for registering</h1>
    <p class="lead">Your donor card will be sent to your mail id shortly</p>
  </div>
</div>

 <button  type="button" class="btn btn-success improve" onclick="home()">DONE</button>

</body>
</html>