<!DOCTYPE html>
<html>
<head>
	<title>What do I need to do</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet">
	<style type="text/css">
	body{
		background: #f2f2f2
	}
		

	.nav-colour{
    
    background-color: #b0f442;
    

	}
	.tittle{
		font-family: 'Libre Baskerville', serif;

	}
	.first{
		background: white;
		margin-left: 100px;
		height:100%; 
		width:1225px;
		
	}
	h3{
		color:#239023;
		font-family: 'Quicksand', sans-serif;
	}
	.one{
		font-family: 'Fahkwang', sans-serif;
		color:#808080;

	}
	h4{
		color:#239023;
		font-family: 'Quicksand', sans-serif;
	}
	p{
		font-family: 'Fahkwang', sans-serif;

	}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light nav-colour ">
		
	
			<ul class="navbar-nav mr-auto ">
			<li class="nav-item"><a class="nav-link abt" href="home">HOME</a></li>
			<li class="nav-item"><a class="nav-link abt" href="about">ABOUT</a></li>
			<li class="nav-item"><a class="nav-link prcss" href="why should u donate">WHY SHOULD YOU DONATE</a></li>
			<li class="nav-item"><a class="nav-link prcss" href="what do i need to do">WHAT DO I NEED TO DO</a></li>
			 <li class="nav-item"><a class="nav-link prcss" href="register">REGISTRATION</a></li>
			 <li class="nav-item"><a class="nav-link prcss" href="member">HOSPITALS</a></li>
		</ul>

		<span class="navbar-text tittle">
      HOPE FOUNDATION OF ORGAN DONATION
    </span>
	
	</nav>
<div class="first border border-light shadow p-3 mb-5 bg-white rounded">
<h3>What do I need to do</h3>
<p class="one">Almost anyone can donate organs and tissues – there is no age limit on the donation of some organs and tissues. The determining factors are where and how a person dies, and the conditions of their organs and tissues. While your age and medical history will be considered, you shouldn’t assume you’re too young, too old or not healthy enough to become a donor.</p>
<p>These are the 3 Most Important Things You Need to Do</p>

<h4>1.Register Your Decision</h4>
<p>Record your decision on the register and ensure that your decision will be known. </p>


<h4>2.Inform and Discuss with Your Family and Dear Ones</h4>
<p>Help your family and friends understand and remember your decision </p>


<h4>3.Always Carry Your Donor Card</h4>
<p>
Always carry an Organ Donor Card in your wallet. It is important for your family to be aware of your wishes, as WITHOUT their consent, your organs/tissues cannot be donated.</p>
</div>
</body>
</html>