div{
	// background: #ccffe5;
	 border-style:ridge;
	  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5tah417bMaQbnP1Q0-w7Cgy-E_ylmXZB29bfbcsZv3o4K9pRmpw");
	 background-repeat: no-repeat;
	  background-size: cover;

}
p{
font-family: 'Merienda', cursive;
}

