* {box-sizing: border-box}

/* Add padding to containers */

input {
  
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  height:30px;
}
input :focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/register button */
button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size:medium;

  opacity: 0.9;
  margin-left:75px;
}
body{
background-color:#009933;
}
label{

    margin: 0;
    padding: 0;
   font-size:large;
   font-family: 'Do Hyeon', sans-serif;
}
div{

  margin: auto;
    width: 50%;
   text-align: center;
    padding: 10px;

}
.main{
border-style:ridge;
border-color:#00802b;
background-color:#ffffff;
}
h1{
color:#004d1a;
font-family: 'Slabo 27px', serif;
 font-weight: bold;
 text-transform: uppercase;
}
h2{
color:#006622;
font-family: 'Titillium Web', sans-serif;
}
h3{
color:#009933;
font-family: 'Inconsolata', monospace;
}